$color-white: #fff;
$color-blue: #0C30AE;
$color-green: #19EC60;
$color-dark-100: #0D0D0D;
$color-dark-200: #041C0C;
$color-dark-600: #000000;
$color-green-100: #041C0C;
$color-green-200: #1C2503;
$color-green-300: #151C02;