@font-face {
  font-family: "hagrid-Text";
  src: url("/assets/fonts/Hagrid-Text-Extrabold-trial.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bingar";
  src: url("/assets/fonts/BingarDEMO-Regular.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$font-primary: "hagrid-Text", sans-serif;
$font-secondary: "bingar", sans-serif;

$font-size-8xl: 19.375rem;
// 310px
$font-size-7xl: 14.813rem;
// 237px
$font-size-6xl: 13.75rem;
// 220px
$font-size-5xl: 13.125rem;
// 210px
$font-size-4xl: 12.5rem;
// 200px
$font-size-3xl: 11.875rem;
// 190px
$font-size-2xl: 6.25rem;
// 100px
$font-size-xl: 4.375rem;
// 70px
$font-size-lg: 3.75rem;
// 60px
$font-size-md: 2.188rem;
// 35px
$font-size-xs: 1.875rem;
// 30px
$font-size-sm: 1.75rem;
// 28px
$font-size-xxs: 1.125rem;
// 18px
$font-size-xxxs: 0.9375rem;
// 15px

$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$line-height-1: 1;
// 1
$line-height-2: 1.925rem;
// 30.8px
$line-height-3: 2.063rem;
// 33px
$line-height-4: 2.189rem;
// 35px
$line-height-5: 3.5rem;
// 42px
$line-height-6: 5.625rem;
// 90px
$line-height-7: 12.5rem;
// 200px
$line-height-8: 13.125rem;
// 210px
$line-height-9: 14.813rem;
// 237px


// 237px 14.813rem
  // 210px 13.125rem
  // 200px 12.5rem
      // 90px 5.625rem
        // 60px 3.75rem
          // 45px 2.813rem
          // 42px 3.5rem 
      // 35px 2.188rem
    // 33px 2.063rem;
      // 30.8px 1.925rem