@use "../../utils" as *;
.header {
  background-color: $color-blue;
  color: $color-white;
  position: relative;
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: 182px;
    bottom: 0px;
    border-bottom: 2px solid $color-white;
  }
}
.nav {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;

  .logo {
    position: relative;
    padding: 1rem;
    &::before {
      content: "";
      position: absolute;
      height: 100vh;
      top: 0;
      left: 0;
      right: -5px;
      bottom: 0;
      border-right: 2px solid $color-white;
    }
  }
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
  .nav-toggle {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  
  .hamburger {
    display: block;
    width: 24px;
    height: 2px;
    background: #000;
    position: relative;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      left: 0;
    }
    
    &::before { top: -8px; }
    &::after { bottom: -8px; }
  }
  
  &.active {
    .hamburger {
      background: #fff;
      
      &::before,
      &::after {
        background: #fff;
      }
    }
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  visibility: hidden;
  z-index: 999;
  
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  
  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
      overflow: hidden;
      
      a {
        display: inline-block;
        color: #fff;
        font-size: 3rem;
        text-decoration: none;
        padding: 1rem 0;
        transform: translateY(100%);
      }
    }
  }
}

.badge {
  background-color: $color-green;
  padding: 1.25rem 1.5rem;
  position: absolute;
  top: -4px;
  right: -260px; 
  overflow: hidden;
  transform: rotate(44.93deg) translateX(20%);
  z-index: 10;
  &__text {
    font-family: $font-secondary;
    color: $color-dark-100;
    font-size: 70px;
    line-height: 77px;
    font-weight: bold;
    text-align: center;
  }
}