@use "../../utils/" as *;
// CTA Section
.cta {
  background-color: $color-green;
  padding: 5rem 0;
  text-align: right;
  &__container {
    @include container;
    padding: 0 3rem;
  }
  &__last_email {
    padding-right: 8rem;
    align-self: flex-end;
    font-family: $font-secondary;
    font-size: $font-size-xl;
    line-height: $line-height-6;
  }
}
.cta_title_wrapper {
  @include flex-center;
  flex-direction: column;
}
.cta__title {
  @include flex-center;
  gap: 1rem;
  &_one {
    font-family: $font-primary;
    //   font-size: clamp(2.5rem, 8vw, 5rem);
    color: $color-green-100;
    font-size: $font-size-3xl;
    line-height: $line-height-7;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  .cta__right_arrow {
    align-self: center;
  }
}

.cta__second_title_wrapper {
  @include flex-center;
  gap: 0 3rem;
}
.cta__second_title {
  font-family: $font-primary;
  color: $color-green-100;
  font-size: $font-size-7xl;
  line-height: $line-height-7;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
.cta__third_title {
  position: relative;
  font-family: $font-primary;
  color: $color-green-100;
  font-size: $font-size-4xl;
  line-height: $line-height-7;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
.rotating-badge {
  position: relative;
  width: 23.5rem;
  height: 23.5rem;
  margin: -16.25rem 33rem 0 auto;
  background-color: transparent;
}
.badge-content {
  @extend .absolute-center;
  width: 100%;
  height: 100%;
  border: 2px solid $color-green-200;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.badge-text {
  width: 100%;
  height: 100%;
  animation: rotate 20s linear infinite;
  text {
    font-size: 9px;
    letter-spacing: 1.5px;
    font-weight: bold;
  }
}
.center-circle {
  @extend .absolute-center;
  width: 220px;
  height: 220px;
  background-color: #1c2503;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumb-icon {
  @extend .absolute-center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.75rem;
  height: 3.75rem;
  z-index: 3;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
